<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
          <!-- API routes should not be rewritten to static content -->
        <rule name="API Routes" stopProcessing="true">
          <match url="^kygeode/geomap_new/api/.*" />
          <action type="Rewrite" url="server.js" />
        </rule>

        <!-- Static content -->
        <rule name="StaticContent">
          <match url="^kygeode/geomap_new/(.*)$" />
          <action type="Rewrite" url="public/{R:1}" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
        </rule>
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    <iisnode
      nodeProcessCommandLine="&quot;%programfiles%\nodejs\node.exe&quot;"
      watchedFiles="*.js;node_modules\*;routes\*.js;views\*.jade"
      loggingEnabled="true"
      logDirectory="iisnode"
      maxNamedPipeConnectionRetry="100"
      namedPipeConnectionRetryDelay="250">
    </iisnode>
  </system.webServer>
</configuration>